@model Proyecto1.Models.Productos

@{
    ViewData["Title"] = "Create";
}
<div class="wrapper">
    <h1>Create</h1>

    <h4>Customers</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="product_id" />

                <div class="form-group">
                    <label asp-for="product_name" class="control-label">Nombre</label>
                    <input asp-for="product_name" class="form-control" />
                    <span asp-validation-for="product_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label">Descripcion</label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="list_price" class="control-label">Precio de lista</label>
                    <input type="number" step="0.01" min="0" max="9999.99" asp-for="list_price" class="form-control" />
                    <span asp-validation-for="list_price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="standard_cost" class="control-label">Precio Estandar</label>
                    <input type="number" step="0.01" min="0" max="9999.99" asp-for="standard_cost" class="form-control" />
                    <span asp-validation-for="standard_cost" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect02">Categoria</label>
                    <select class="form-select" id="inputGroupSelect02" asp-for="category_id">
                        @foreach (var categoria in ViewBag.Categorias)
                        {
                            <option value="@categoria.category_id" selected="@(categoria.category_id == ViewBag.cat ? true : false)">@categoria.category_name</option>
                        }
                    </select>
                    <span asp-validation-for="category_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Actualizar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
