@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Explora cómo construir aplicaciones web con <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
    <div>
        <h2>Integrantes del equipo:</h2>
        <ul class="list-group">
            <li class="list-group-item">Marcela Castorena Escandon</li>
            <li class="list-group-item">Eder Gerardo Meza Reyes</li>
            <li class="list-group-item">Grecia Fernanda Peña de Jesus</li>
            <li class="list-group-item">Angel Moises Vargas Ramirez</li>
        </ul>
    </div>
</div>

